WebCAMS/eCAMS/Web References/eCAMS.AuthWS/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAuthorizationTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAuthorizationTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorizationTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FSPID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MenuSet" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiryDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientIDs" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLoginAsClient" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ModuleList" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CanUseNewPCAMS" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:UserInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult" type="tns:UserInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="tns:UserInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeSelectedUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeSelectedUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeSelectedUserPasswordResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetULResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetULResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdminUserResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetUserPasswordResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidateUserOTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidateUserOTPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValidateUserOTPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserOTPInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserOTPInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Passcode" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiryDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserOTPInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserOTPInfoResult" type="tns:UserOTPInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserOTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserOTPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserOTPResult" type="tns:UserInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserMFAFeatureParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserMFAFeatureParam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FeatureID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FeatureName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OTPEmailDomainNameList" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="OTPLength" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OTPExpiryMinute" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OTPMaxNoRetries" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserMFAFeatureParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserMFAFeatureParamsResult" type="tns:UserMFAFeatureParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailUserOTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myParam" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailUserOTPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailUserOTPResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAuthorizationTicketSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorizationTicket" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizationTicketSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorizationTicketResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeSelectedUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeSelectedUserPassword" />
  </wsdl:message>
  <wsdl:message name="ChangeSelectedUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeSelectedUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetULSoapIn">
    <wsdl:part name="parameters" element="tns:GetUL" />
  </wsdl:message>
  <wsdl:message name="GetULSoapOut">
    <wsdl:part name="parameters" element="tns:GetULResponse" />
  </wsdl:message>
  <wsdl:message name="AdminUserSoapIn">
    <wsdl:part name="parameters" element="tns:AdminUser" />
  </wsdl:message>
  <wsdl:message name="AdminUserSoapOut">
    <wsdl:part name="parameters" element="tns:AdminUserResponse" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetUserPassword" />
  </wsdl:message>
  <wsdl:message name="ResetUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidateUserOTPSoapIn">
    <wsdl:part name="parameters" element="tns:GetValidateUserOTP" />
  </wsdl:message>
  <wsdl:message name="GetValidateUserOTPSoapOut">
    <wsdl:part name="parameters" element="tns:GetValidateUserOTPResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserOTPInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserOTPInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserOTPInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserOTPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserOTPSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUserOTP" />
  </wsdl:message>
  <wsdl:message name="CreateUserOTPSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserOTPResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserMFAFeatureParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserMFAFeatureParams" />
  </wsdl:message>
  <wsdl:message name="GetUserMFAFeatureParamsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserMFAFeatureParamsResponse" />
  </wsdl:message>
  <wsdl:message name="EmailUserOTPSoapIn">
    <wsdl:part name="parameters" element="tns:EmailUserOTP" />
  </wsdl:message>
  <wsdl:message name="EmailUserOTPSoapOut">
    <wsdl:part name="parameters" element="tns:EmailUserOTPResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthServiceSoap">
    <wsdl:operation name="GetAuthorizationTicket">
      <wsdl:input message="tns:GetAuthorizationTicketSoapIn" />
      <wsdl:output message="tns:GetAuthorizationTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeSelectedUserPassword">
      <wsdl:input message="tns:ChangeSelectedUserPasswordSoapIn" />
      <wsdl:output message="tns:ChangeSelectedUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUL">
      <wsdl:input message="tns:GetULSoapIn" />
      <wsdl:output message="tns:GetULSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminUser">
      <wsdl:input message="tns:AdminUserSoapIn" />
      <wsdl:output message="tns:AdminUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <wsdl:input message="tns:ResetUserPasswordSoapIn" />
      <wsdl:output message="tns:ResetUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValidateUserOTP">
      <wsdl:input message="tns:GetValidateUserOTPSoapIn" />
      <wsdl:output message="tns:GetValidateUserOTPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserOTPInfo">
      <wsdl:input message="tns:GetUserOTPInfoSoapIn" />
      <wsdl:output message="tns:GetUserOTPInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserOTP">
      <wsdl:input message="tns:CreateUserOTPSoapIn" />
      <wsdl:output message="tns:CreateUserOTPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMFAFeatureParams">
      <wsdl:input message="tns:GetUserMFAFeatureParamsSoapIn" />
      <wsdl:output message="tns:GetUserMFAFeatureParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmailUserOTP">
      <wsdl:input message="tns:EmailUserOTPSoapIn" />
      <wsdl:output message="tns:EmailUserOTPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthServiceSoap" type="tns:AuthServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorizationTicket">
      <soap:operation soapAction="http://tempuri.org/GetAuthorizationTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSelectedUserPassword">
      <soap:operation soapAction="http://tempuri.org/ChangeSelectedUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUL">
      <soap:operation soapAction="http://tempuri.org/GetUL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminUser">
      <soap:operation soapAction="http://tempuri.org/AdminUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <soap:operation soapAction="http://tempuri.org/ResetUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidateUserOTP">
      <soap:operation soapAction="http://tempuri.org/GetValidateUserOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserOTPInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserOTPInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserOTP">
      <soap:operation soapAction="http://tempuri.org/CreateUserOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMFAFeatureParams">
      <soap:operation soapAction="http://tempuri.org/GetUserMFAFeatureParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUserOTP">
      <soap:operation soapAction="http://tempuri.org/EmailUserOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthServiceSoap12" type="tns:AuthServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorizationTicket">
      <soap12:operation soapAction="http://tempuri.org/GetAuthorizationTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeSelectedUserPassword">
      <soap12:operation soapAction="http://tempuri.org/ChangeSelectedUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUL">
      <soap12:operation soapAction="http://tempuri.org/GetUL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminUser">
      <soap12:operation soapAction="http://tempuri.org/AdminUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetUserPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidateUserOTP">
      <soap12:operation soapAction="http://tempuri.org/GetValidateUserOTP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserOTPInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserOTPInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserOTP">
      <soap12:operation soapAction="http://tempuri.org/CreateUserOTP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMFAFeatureParams">
      <soap12:operation soapAction="http://tempuri.org/GetUserMFAFeatureParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUserOTP">
      <soap12:operation soapAction="http://tempuri.org/EmailUserOTP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="AuthServiceSoap" binding="tns:AuthServiceSoap">
      <soap:address location="http://localhost:3037/wseCAMS/AuthService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthServiceSoap12" binding="tns:AuthServiceSoap12">
      <soap12:address location="http://localhost:3037/wseCAMS/AuthService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>